main {
    min-height: 80vh;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.delete-form {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
}

.delete-form button {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    font-size: 16px;
    margin-right: 30px;
}

.delete-form a {
    background-color: #f44336; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px;
}