main {
    background: url(../img/hogwarts-admin-background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
}

.main-heading h1 {
    text-align: center;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    color: #fff;
    font-size: 1.875rem;
}