main {
    min-height: 100vh;
    background: url(../img/hogwarts-admin-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}