main {
    background: url(../img/hogwarts-admin-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

form {
    width: 600px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    backdrop-filter: blur(5px);
    border-radius: 10px;

}

form input,
form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid  #fff;
    color: #fff;
    padding: .9375rem;
    outline: none;
    font-weight: 700;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

form input {
    width: 16.875rem;
}

form textarea {
    width: 34.6875rem;
}

input[type="submit"] {
    background-color: #ad8924;
    border-bottom: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #ad8924;
}

