main {
    background: url(../img/hogwarts-admin-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.one-student {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-student-box {
    width: 18.75rem;
    min-height: 8.125rem;

    background-color: rgba(250,235,215,0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-student a {
    padding: 5px 10px;
    margin-top: .625rem;
    display: inline-block;
    
    text-decoration: none;
    font-size: 20px;
    color: #fff;

    transition: all 0.3s ease;
}

.edit-one-student {
    background-color: #cda128;
    border-radius: 5px;
}

.edit-one-student:hover {
    color: #cda128;
    background-color: #fff;
    border-radius: 5px;
}

.delete-one-student {
    background-color: red;
    border-radius: 5px;
}

.delete-one-student:hover {
    color: red;
    background-color: #fff;
    border-radius: 5px;
}