main {
    min-height: 100vh;
    background: black;
    padding-bottom: 3.125rem;
}

.upload-photos {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   



