/* Header styles (Whole section) */

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #000000;
    height: 4.375rem;

    
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 3.125rem;
    margin-left: 1.25rem;
}


/* Navigation styles */

nav {
    margin-right: 1.875rem;
    z-index: 1000;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: .625rem;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
    cursor: pointer;
}