main {
    height: 100vh;
    background: linear-gradient(#000000, #00000092),
                url(../img/background.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-heading {
    text-align: center;
}