/* Registration form section */
.registration-form {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#000000, #00000092),
                url(../img/background.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.registration-form h1 {
    color: #fff;
    font-size: 2.8125rem;
    letter-spacing: 3px;
    margin-bottom: .9375rem;
}

.registration-form form {
    text-align: center;
}

.reg-input {
    outline: none;
    border: none;

    background-color: transparent;
    border-bottom: 1px solid #fff;

    color: #fff;
    font-size: 1.25rem;

    padding: .3125rem .625rem;
    margin-bottom: .9375rem;
}


.btn {
    width: 15.625rem;
    font-size: 1.25rem;
    background: #cda128;
    color: #fff;

    border: none;
    padding: .3125rem .625rem;
    margin-top: .9375rem;

    cursor: pointer;
    transition: all 0.5 linear;
}

.btn:hover {
    background:#f0bd30 ;
}